*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  .line {
    list-style:none;
    width:405px;
    box-sizing:border-box;
    background:linear-gradient( to top, #b6c583, #fcfdfa);
    margin:100px auto;
    border-radius:0 20px 20px 0;
  }
  
  .block {
    display:inline-block;
    padding:10px;
    border-right:1px solid #747a5d;
    border-radius:0 20px 20px 0;
    box-shadow:inset -2px 0 0 0 #fff;
    font-size:18px;
  }