* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
	width: 100%;
	height: 300px;
	background: #333;
	padding: 10px;
	text-align: center;
}
.equalizer {
	width: 50px;
	background: linear-gradient(#FDCD57, #FF8D02);
	border-radius: 10px 10px 0 0;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 10px;
	overflow: hidden;
}

.block {
    display: block;
	height: 28px;
	border-bottom: 4px solid #333;
}